.td {
  background-color: var(--card-color);
  font-size: medium;
  padding: 12px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #ddd;
}

.tr {
  height: 50px;
}

.active {
  color: var(--green);
  padding: 4px;
  padding-top: 5px;
  margin: 0 auto;
  width: 100px;
  border-radius: 50px;
  background-color: rgba(var(--green-rgb), 0.5);
}

.Inactive {
  color: var(--red);
  padding: 4px;
  padding-top: 5px;
    margin: 0 auto;
  width: 100px;
  border-radius: 50px;
  background-color: rgba(var(--red-rgb), 0.3);
}