.productsCategories {
  text-align-last: center;
}


.addIconContainer {
  position: relative;
}

.addIcon {
  position: absolute;
  right: 20px;
  top: -10px;
}
.productsCategories > h1 {
  font-family: var(--font-tajawal-medium);
  font-size: larger;
}
