.productCardsContainer {
  padding: 0 50px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .productStatus {
  color: var(--green);
  font-family: var(--font-tajawal-medium);
} */

.cardBody {
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 10px; 
}

.thead {
  text-align-last: start;
    /* z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  top: 0; */
}

.th {
  font-weight: 300;
}
